@import "./styles/globals.css";

html {
    filter: saturate(1.1) contrast(1.05);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scan {
    0% {
        top: 0%;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}